/* Extra Large Devices (Desktops, 1200px and up) */
@media (max-width: 1200px) {
    .container {
        width: 95%;
    }
}

/* Large Devices (Desktops, 992px and up) */
@media (max-width: 992px) {
    .header__princ nav ul {
        flex-direction: column;
        align-items: center;
    }

    .banner2, .banner5 {
        flex-direction: column;
    }

    .banner2 img, .banner5 img {
        max-width: 100%;
    }

    .banner2 .conteudo, .banner5 .conteudoParte5 {
        padding: 20px;
    }

    .conteudoParte6, .conteudoParte7 {
        flex-direction: column;
    }

    .flex {
        flex-direction: column;
        align-items: flex-start;
    }

    .itens ul {
        flex-direction: column;
    }

    .itens ul li {
        margin: 10px 0;
    }

    
}

/* Medium Devices (Tablets, 768px and up) */
@media (max-width: 768px) {
    .header__princ .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .header__princ .botao_area_cliente {
        margin: 10px;
        
    }

    .header__princ nav{
        align-items: center;
    }

    

    section {
        padding: 20px 10px;
    }

    .conteudoParte6 article, .conteudoParte7 .coluna1Duvida, .conteudoParte7 .coluna2Duvida {
        flex: 1;
        max-width: 100%;
    }

    .bemvindoVeiculo, .servicos {
        flex-direction: column;
    }

    .benvindo {
        width: 100%;
    }

    .servicos .coluna1, .servicos .coluna2 {
        width: 100%;
    }
}

/* Small Devices (Tablets and Large Phones, 576px and up) */
@media (max-width: 576px) {
    .header__princ .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px;
    }

    .header__princ nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .header__princ nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .header__princ .itens {
        margin-top: 10px;
        width: 100%;
        size: 1rem;
        display: flex;
        justify-content: space-between;
    }

    .header__princ .botao_area_cliente {
        margin: 3px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .header__princ .botao_area_cliente a {
        max-width: 70%;
        width: auto;
    }

    .header__princ a img {
        max-width: 220px;
        height: auto;
    }

    .banner{
        padding: 10px;
    }

    .banner a {
        padding: 8px 15px;
    }

    .banner4, .banner6{
        padding: 10px;
    }

    article h2 {
        font-size: 1.2rem;
    }

    article p {
        font-size: 1rem;
    }

    footer {
        padding: 10px;
    }
}


