

.minhaConta{
    padding: 10px;
    margin: 10px;
    border: 2px solid lightskyblue;
    border-radius: 25px;
}
.minhaConta a{
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.minhaConta a:hover{
    background-color: darkblue;
}

.voltar{
    margin: 10px;
    text-decoration: none;
}

.voltar:hover{
    text-decoration: underline;
}
ul{
    padding: 10px;
    font-size: 2rem;
}

li{
    color: black;
}

.botaoAdicionarVeiculo{
    color: black;
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
}