/* Estilo Geral */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
.header__princ {
    background-color: #f8f9fa;
    padding: 10px 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 50px;
}

.itens ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.itens ul li {
    margin: 0 15px;
}

.itens ul li a {
    text-decoration: none;
    color: #333;
}

.botao_area_cliente a{
    max-width: 200px;
    width:100%;
    height:40px;
    border-radius: 20px;
    padding: 10px;
    /* border-width: 1px; */
    border: 1px solid;
    border-color: #019ff9;
    color:#019ff9;
    box-shadow: 1px 2px 1px;
    background-color: #ffff;
}

.botao_area_cliente a:hover{
    color:#fff;
    background-color: #019ff9;
}

/* Main */
.bemvindoVeiculo {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
}

.benvindo {
    width: 60%;
    padding: 10px;
}

/* .meuVeiculo a {
    text-decoration: none;
} */

.meuVeiculo button {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: none;
    background: none;
    cursor: pointer;
    padding: 10px;
    
}

/* .meuVeiculo button h2, .meuVeiculo button p {
    width: 100%;
} */

.meusVeiculos{
    color: darkblue;
    
}

button {
    border-radius: 25px;
    margin: 5px;
    padding: 10px;
}

button:hover {
    background-color: #019FF9;
    color: white;
}

.servicos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    margin: auto;
    width: 75%;
}

.servicos .coluna1, .servicos .coluna2 {
    width: 48%;
}

.servicos button {
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.servicos img {
    align-self: center;
    margin-top: 10px;
}

/* Footer */
footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
}

footer h2 {
    font-size: 1.2em;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin: 5px 0;
}

/* Responsividade */
@media (max-width: 1200px) {
    .container {
        width: 95%;
    }
}

@media (max-width: 992px) {
    .flex {
        flex-direction: column;
        align-items: flex-start;
    }

    .itens ul {
        flex-direction: column;
    }

    .itens ul li {
        margin: 10px 0;
    }
}

@media (max-width: 768px) {
    .bemvindoVeiculo, .servicos {
        flex-direction: column;
    }

    .benvindo {
        width: 100%;
    }

    .servicos .coluna1, .servicos .coluna2 {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .botao_area_cliente a {
        padding: 10px;
    }

    .servicos {
        width: 100%;
    }
}